# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# VS Code settings (optional)
#.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
#.coverage
#htmlcov/

# Windows
Thumbs.db
Desktop.ini

# others
search_sandbox/
OrderSync.7z
install/OLEDB25PACKUS090f.exe
install/python-3.14.6-amd64.exe
